<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/getAddUser" class="active">Add User</a></li>
      </ul>
    </div>

    <div>
      <fieldset>
        <form action="/CreateNewUser" method="POST">
          <legend>ADD USER</legend>
          <div>
            <span>Email</span>
            <input type="text" name="email" />
          </div>
          <div>
            <span>Name</span>
            <input type="text" name="name" />
          </div>
          <div>
            <span>Address </span>
            <input type="text" name="address" />
          </div>
          <button type="submit">Add</button>
        </form>
      </fieldset>
    </div>
  </body>
</html>
