<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <div>
      <fieldset>
        <form action="/CreateNewUser" method="POST">
          <legend>Edit USER</legend>
          <div>
            <span>Email</span>
            <input type="text" name="email" />
          </div>
          <div>
            <span>Name</span>
            <input type="text" name="name" />
          </div>
          <div>
            <span>Address </span>
            <input type="text" name="address" />
          </div>
          <button type="submit">Edit</button>
        </form>
      </fieldset>
    </div>
  </body>
</html>
